.abs-subtitle-dark-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.promotion-banner {
    background: linear-gradient(to right, #DAD4EF, #E4DFDA);
    margin-block: 1rem;
    display: flex;
    justify-content: space-between;
}

.promotion-banner>div {
    height: auto;
    width: 100%;
}

.bg-gradient {
    background: linear-gradient(to bottom, #7c47ee, #7948E4);
    display: grid;
    place-content: center;
}

.button {
    color: var(--clr-dark);
    background: white;
    padding: 0.5rem 2rem;
    font-weight: var(--fw-semi-bold);
}

.suggestion {
    display: flex;
    margin-block: 1rem;
}

.suggestion>* {
    width: 100%;
    cursor: pointer;
    transition: background-color 250ms ease-in;

}

.suggestion>*:hover>.abs-subtitle-dark-bg {
    background-color: rgba(0, 0, 0, 0.411);
    visibility: visible;
    opacity: 1;
}

.modular_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.banner {
    position: relative;
    margin-bottom: 1.3rem;
}

.banner-content-l {

    position: absolute;
    left: 12%;
    bottom: 15%;
    color: var(--clr-dark);
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.banner-content-c {
    position: absolute;
    right: 37%;
    bottom: 35%;
    color: var(--clr-dark);
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.banner-content {
    position: absolute;
    right: 2%;
    bottom: 10%;
    color: var(--clr-white);
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    text-align: end;
}


.gradient-text {
    background-image: linear-gradient(90deg, #0032f6 8.47%, #3837d3 25.86%, #633bb1 42.08%, #88368c 55.24%, #ae2358 70.75%, #e00a15 91.67%);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.rel-content {
    position: relative;
}

.abs-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.8rem;
}

.abs-subtitle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.8rem;
}

.even-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.even-row {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.bdr-trans {
    border: 1px solid transparent;
}

.bdr {
    border-width: 1px;
    border-style: solid;
}

.bdr-light-grey {
    border-color: var(--clr-light-grey);
}

.bdr-grey {
    border-color: var(--clr-grey);
}

.bdr-black {
    border-color: var(--clr-dark);
}

.bdr-inline {
    border-inline-width: 1px;
    border-inline-style: solid;
}

.bdr-block {
    border-block-width: 1px;
    border-block-style: solid;
}

.bdr-right {
    border-right-width: 1px;
    border-right-style: solid;
}

.bdr-bottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.shoe_type_bt {
    margin-block: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding-inline: 5rem;
}



.grid-auto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.0rem;
}

.filter-bar {
    position: sticky;
    top: 3.5rem;
    z-index: 9;
    background-color: white;
    height: 3.5rem;
    border-block: 1px solid var(--clr-light-grey);

}

.filter-bar>div {
    display: grid;
    grid-template-columns: 15rem auto 15rem;

    background-color: white;
}

.filter-bar select {
    border: 1px solid transparent;
    height: 3.4rem;
    padding-inline: 0.2rem;
}




.filter-bar select:focus,
.filter-bar select:focus-visible,
.filter-bar select:focus-within {
    border: 1px solid grey;
}

.shoe-results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.8rem;
    padding: 1rem;
    height: fit-content;
}

.filter-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 1rem;
    position: sticky;
    top: 7rem;
    z-index: 8;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: rgb(77, 76, 76) var(--clr-light-grey);
}

.filter-section input {
    accent-color: black;
}

.filter-section>div {
    border-top: 1px solid var(--clr-light-grey);
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding-right: 1rem;
}

.filter-table {
    border-collapse: collapse;
    font-size: 0.7rem;

}


.filter-table td {
    padding: 0.37rem;
    border: 1px solid var(--clr-grey);
}

.kids>.filter-table td {
    padding: 0.6rem;
}

.color-swatch {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
}

.color-swatch>div {
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
    border: 1px solid var(--clr-grey);
}

.filter-section::-webkit-scrollbar {
    background-color: var(--clr-light-grey);
    width: .3rem;
}

.filter-section::-webkit-scrollbar-track {
    background-color: var(--clr-light-grey);
}

.filter-section::-webkit-scrollbar-thumb {
    background-color: rgb(77, 76, 76);
}

.rating {
    display: flex;
    gap: 0.3rem;
    height: fit-content;
    align-self: center;
}

.rating img {
    width: 0.8rem;
    filter: opacity(35%) invert(60%) sepia(90%) saturate(10%) hue-rotate(340deg) brightness(100%) contrast(100%);

}

.rating img[data-rated="true"] {
    filter: invert(78%) sepia(90%) saturate(1320%) hue-rotate(360deg) brightness(100%) contrast(100%);
}

.rating-container {
    display: flex;
    gap: 0.3rem;
    align-content: center;
}

.rating-container>span {
    padding-top: 0.1rem;
    font-size: 0.8rem;
    color: var(--clr-grayish-blue);
}


.checkout-details {
    padding: 3.3rem;
    position: sticky;
    top: 4rem;
    align-self: start;


}

.checkout-details>div {
    padding-block: 1.3rem;
}

.checkout-details>div:not(:last-child) {
    border-bottom: 1px solid var(--clr-light-grey);

}

.email-input {
    display: grid;
    grid-template-columns: auto 1fr;
    border: 1px solid grey;
}

.email-input:focus-within {
    border: 1px solid black;
}

.email-input input {
    border-radius: 0px;
    border: 1px solid transparent;
    outline: none;
}

.email-input input[type="text"]:focus,
.email-input input[type="text"]:focus-within,
.email-input input[type="text"]:focus-visible {
    border: 1px solid transparent;

}




.auth-section
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: min(30rem,100%);
    
}

.auth-section input
{
    border: none;
    outline: none;

    border-bottom: 1px solid var(--clr-grey);
    padding-block: 0.5rem;
    width: 100%;
}

.auth-section label
{
    color: black;
    font-weight: var(--fw-semi-bold);
}

.auth-section input[aria-invalid="true"]
{
    border-bottom: 1px solid red;
}

.auth-section input[type="checkbox"]
{
    accent-color: black;
}

.error-section
{
    margin-block: 1ch;
    color: red;
    font-size: var(--fs-100);
    height: 1ch;
}

.snackbar
{
    position: absolute;
    width: fit-content;
    padding: 0.4rem;
    border: 1px solid rgba(255, 0, 0, 0.774);
    box-shadow: 1px 1px 5px black;
    bottom: 0%;
    color: red;
    font-weight: var(--fw-semi-bold);
    right: 45vw;
    background-color: white;
    animation: snackanim 500ms forwards;
}

@keyframes snackanim
{
    0% {
        transform: translateY(0%);
        opacity: 0;
    }

    100% {
        transform: translateY(-100%);
        opacity: 1;
    }
}

/* 

 .modal {
    padding: 1rem;
    width: 30rem;
    margin: auto;
}

.modal:not([open]) {
    display: none;
}

.modal::backdrop {
    background: rgb(0 0 0 / 0.7);
}


.signin-input {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block: 2rem;
}

.signin-input input {
    border: none;
    outline: none;

    border-bottom: 1px solid var(--clr-light-grey);
    padding-bottom: 0.5rem;
}  */